<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/e2e-bootstrap.php"
         colors="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="e2e">
            <directory>tests/e2e</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">includes</directory>
        </include>
    </source>

</phpunit>
